.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #52dd70;
    border-color: #52dd70;
}

.profile--heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.nb-theme-default [nbButton].btn-outline.btn-success {
    border: 1px solid #ebeff6 !important;
    color: #2a2a2a;
    background-color: transparent;
}

.bootstrap.ng2-tag-input.ng2-tag-input--focused {
    border-bottom: 2px solid #5fde5d !important;
}

.profile-picture  img{
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.update-pic {
    text-align: center;
}

.nb-theme-default .btn-outline.btn-success {
    border: 1px solid #ddd;
    color: #2a2a2a;
    background-color: transparent;
}

.setting--section {
    height: 40%;
}

.profile--link {
    font-size: 0.8rem;
    cursor: pointer;
    border-left: 2px solid #5fde5d;
}

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      font-size: 0.9rem;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }

.update--location.ng-star-inserted {
    font-size: 0.9rem;
}

.update--location.ng-star-inserted b {
    color: #1572e0;
}

.onEdit {
    cursor: pointer;
}

  