.narrow .votes {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    font-size: 11px;
    color: #848d95;
    padding: 7px 6px;
}
.votes {
    padding: 0;
    margin-bottom: 8px;
    text-align: center;
}

.narrow .status {
    display: inline-block;
    margin: 0 3px 0 0;
    min-width: 44px;
    height: auto;
    font-size: 11px;
    padding: 6px;
    border: 1px solid #dee;
    border-radius: 4px;
}

.narrow .views {
    display: inline-block;
    height: 38px;
    min-width: 40px;
    margin: 0 7px 0 0;
    font-size: 11px;
    color: #848d95;
    padding: 7px 6px;
}

.views {
    padding-top: 4px;
    text-align: center;
}

.status.answered {
    border-color: rgba(69,161,99,0.5);
    text-align: center;
}

.narrow .mini-counts {
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 4px;
}

.narrow {
    text-align: center;
}

.question__list {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
}

.question-link, .answer-link {
    color: #07C;
    line-height: 1.3;
    margin-bottom: 1.2em;
    font-size: 1.2rem;
    font-weight: 400;
}

.question-link:hover {
    color: #07D;
}

a.btn.btn-primary.btn--add-question {
    border-color: #07c;
    box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
    color: #FFF;
}

h1.h1-top-question {
    font-size: 2rem;
}

.col-12.col-sm-6.col-md-2.question-side-menu {
    border-right: 1px solid #ddd;
}

.btn-filter-question {
    padding: 10px;
}

.post-tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
}