<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-sm-6  col-md-2 question-side-menu">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/question/add">Add question</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/question/myarticle">Asked Question</a>
              </li>

            </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-7">
        
        <div class="row add--top__question">
            <div class="col-12 col-sm-6 col-md-10 h1-top-question">
              <h1 class="h1-top-question">Top Questions</h1></div>
            <div class="col-12 col-6 col-md-2"><a type="button" class="btn btn-primary btn--add-question" href="">Add question</a></div>
            <div class="pull-right btn-filter-question">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-info">Today</button>
                    <button type="button" class="btn btn-info">Week</button>
                    <button type="button" class="btn btn-info">Month</button>
                    <button type="button" class="btn btn-info">Year</button>
                  </div>
            </div>
          </div>
        
        <div *ngFor="let Question of allQuestion?.rows">
          <div class="row question__list">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="narrow">
                  <div class="votes">
                      <div class="mini-counts"><span title="down-votes">{{ Question.downvote }}</span></div>
                      <div>down-votes</div>
                  </div>
                  <div class="votes">
                      <div class="mini-counts"><span title="upvotes">{{ Question.upvote }}</span></div>
                      <div>upvotes</div>
                  </div>
                  <div class="status answered">
                      <div class="mini-counts"><span title="answer">{{ Question.question_view }}</span></div>
                      <div>answer</div>
                  </div>
                  <div class="views">
                      <div class="mini-counts"><span title="views">{{ Question.question_view }}</span></div>
                      <div>views</div>
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6  col-md-8">

                <a class="question_h__link"
                  [routerLink]="['/question/detail', Question.id]">
                  <h3 class="question-link">{{Question.question_title}}</h3>
                </a>
               
                <!-- <a href="/api/question/{{ Question.id }}/{{Question.question_url}}">
                    <h3 class="question-link">{{Question.question_title}}</h3>
                </a> -->
                <span *ngFor="let tag of Question.technology_tag">
                  <span class="post-tag">{{ tag.display }}</span>
                </span>

                <span class="pull-right"><small style="margin-left: 10px">{{ Question.user.name }}</small></span>
                <span class="pull-right"><small>asked {{ Question.created_at | amTimeAgo:true }} ago </small></span>
                
                
            </div>
          </div>

          <!-- <p><markdown [data]="Question.question_body | language : 'typescript'"
            lineHighlight [line]="'6, 10-16'" [lineOffset]="5"></markdown></p> -->
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
          <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
              </a>
            </div>
      </div>
  </div>
</div>
