.narrow .votes {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    font-size: 11px;
    color: #848d95;
    padding: 7px 6px;
}
.votes {
    padding: 0;
    margin-bottom: 8px;
    text-align: center;
}

.narrow .status {
    display: inline-block;
    margin: 0 3px 0 0;
    min-width: 44px;
    height: auto;
    font-size: 11px;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.narrow .views {
    display: inline-block;
    height: 38px;
    min-width: 40px;
    margin: 0 7px 0 0;
    font-size: 11px;
    color: #848d95;
    padding: 7px 6px;
}

.views {
    padding-top: 4px;
    text-align: center;
}

.status.answered {
    border-color: rgba(69,161,99,0.5);
    text-align: center;
}

.narrow .mini-counts {
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 4px;
}

.narrow {
    text-align: center;
}

.question__list {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
}

.question-link, .answer-link {
    color: #07C;
    line-height: 1.3;
    margin-bottom: 1.2em;
    font-size: 1.2rem;
    font-weight: 400;
}

.question-link:hover {
    color: #07D;
}

a.btn.btn-primary.btn--add-question {
    border-color: #07c;
    box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
    color: #FFF;
}

h1.h1-top-question {
    font-size: 1.3rem;
}

.col-12.col-sm-6.col-md-2.question-side-menu {
    border-right: 1px solid #ddd;
}

.btn-filter-question {
    padding: 10px;
}

.post-tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
}

.question--body p {
    color: #000;
}

pre.line-highlight {
    background-color: #eff0f1 !important;
    color: #000 !important;
}

pre.line-highlight p{
    color: #000 !important;
}

.module {
    margin-bottom: 1.5em;
}

.label-key {
    color: #9199a1;
    font-size: 14px;
}

#sidebar h1 {
    color: #242729;
    font-size: 18px;
    font-weight: 400;
}

img.mr-3 {
    width: 40px;
    height: 40px;
}

.dotted-line[_ngcontent-c6] {
    padding: 10px 0;
    border-top: 1px dotted #c8ccd0;
    border-bottom: 1px dotted #c8ccd0;
    clear: both;
    width: 100%;
}

.user-info {
    background-color: #dee;
    padding: 0.4rem;
    border-radius: 3px;
}

.answer-comment-section {
    margin-top: 1rem;
    font-size: 14px;
}

.row .detail-user-info {
    margin-top: 10px;
}

.answer-comment__list {
    border-top: 1px solid #ddd;
    padding: 11px;
}

span.upvote-a.upvote {
    margin-right: 10px;
    color: #3c8a3cd6;
}


span.upvote-a.downvote {
    margin-right: 10px;
    color: #c32828;
}

.answer-comment-section {
    width: 100%;
    padding-right: 20px;
}

.answer-comment__list:hover {
    background-color: #eff0f1;
    color: #001;
}

.add_comment {
    width: 100%;
    margin-right: 10px;
    border-top: 1px solid #ddd
}

// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
  
//   .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }

  .add_comment--link {
    margin-top: 20px;
    color: #ddd;
}

.add_comment--link p {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.answer-comment__list ul {
    list-style-type: none;
    display: inline;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #e3e6d0 !important;
}

.answer-comment__list span {
    display: inline-block;
}

span.upvote-a.comment_question {
    color: #001;
}

.ratingBtn {
    text-align: center;
}

p.ratingNumber {
    text-align: center;
    font-size: 20px;
}

.ratting--wrapper {
    margin-top: 10px;
}

.anwer--list__heading {
    border-bottom: 1px solid #e4e6e8;
    height: 3px;
    margin-bottom: 20px;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: transparent !important;
}

pre {
    background: #fafafa !important;
    color: #fff;
}




