<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6  col-md-2 question-side-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/question/add">Add question</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/question/myarticle">Asked Question</a>
                </li>
  
              </ul>
        </div>
        
        <div class="col-12 col-sm-6 col-md-7">
          
          <div class="row add--top__question">
              <div class="col-12 col-sm-6 col-md-10 h1-top-question">
                <h1 class="h1-top-question">{{ question?.question_title }}</h1></div>
              <div class="col-12 col-6 col-md-2"><a type="button" class="btn btn-primary btn--add-question" href="">Add question</a></div>
          </div>

          <!-- This is the start of the question body section -->
          <hr>
          <div class="row no-gutters">
                <div class="col-12 col-6 col-md-2">
                    <div class="ratting--wrapper">
                            <p class="ratingNumber">{{ question?.upvote }}</p>
                            <p (click)="question.upvote = question.upvote + 1;" class="ratingBtn">
                                <i title="Upvote comment" (click)="updateQuestionUpvote(question)" style="cursor: pointer; text-align:center; font-size: 2rem;" class="fa fa-thumbs-up"></i> 
                            </p>
                            
                            <p (click)="question.downvote = question.downvote + 1" class="ratingBtn">
                                 <i title="Down-vote question" (click)="updateQuestionDownvote(question)" style="cursor: pointer; text-align:center; font-size: 2rem;" class="fa fa-thumbs-down"></i>
                            </p>
                            <p class="ratingNumber">{{ question?.downvote }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-10">
                    <div class="question--body">  
                        <markdown ngPreserveWhitespaces [data]="question?.question_body"></markdown>
                        <markdown ngPreserveWhitespaces [data]="questionAnswer?.question_body"></markdown>
                    </div>


          <div class="dotted-line"></div>
          <div class="row detail-user-info">
            <div class="col-12 col-6 col-md-4">
                <a style="margin-top: 10px" href="/posts/54704661/edit" 
                class="suggest-edit-post" title="">improve this question</a>
            </div>
            
            <div style="margin-top: 20px" class="col-12 col-6 col-md-4">
                <!-- <a href="/posts/54704661/revisions" title="show all edits to this post">edited 
                  <span title="2019-02-15 09:43:21Z" class="relativetime">1 hour ago</span></a> -->
            </div>
            <div class="col-12 col-6 col-md-4">
                <div class="post-signature owner grid--cell">
                    <div class="user-info ">
                        <div class="user-action-time">
                            <small style="color: #001">
                                asked
                                <span [title]="question?.created_at" class="relativetime">
                                  {{ question?.created_at | amTimeAgo:true  }}</span>
                            </small> 
                        </div>
                        <div class="media">
                            <img src="{{ question?.profile.avater }}" class="mr-3" alt="...">
                            <div class="media-body">
                              <h5 class="mt-0">{{ question?.user.name }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer-comment-section">
                <div class="answer-comment" *ngFor="let questionComment of questionComments; let i = index; trackBy: trackByFn">
                    <div class="answer-comment__list">
                        <span class="upvote-a upvote"> 
                            <i title="upvote comment" (click)="updateUpvote(questionComment, i)" style="cursor: pointer; font-size: 1rem;" class="fa fa-thumbs-up"></i> 
                            {{ questionComment.upvote }}</span>
                        <span class="upvote-a downvote">
                            <i title="Down-vote comment" (click)="updateDownvote(questionComment, i)" style="cursor: pointer; font-size: 1rem;" class="fa fa-thumbs-down"></i>
                             {{ questionComment.downvote }} </span>
                        <span class="upvote-a comment_question">
                                <markdown ngPreserveWhitespaces [data]="questionComment.comment_question"></markdown>
                        </span>
                        <span>
                            -- {{ questionComment?.user.name }} {{ questionComment?.created_at | amTimeAgo:true }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="add_comment">
                <div class="add_comment--link">
                    <p (click)="addAnswerComment()">Add Comment</p>
                </div>
                <hr>
                
                <div *ngIf="addComment" class="add--form-comment">
                        <form #addAnswerCommentForm="ngForm" (ngSubmit)="onsubmitanswercomment(addAnswerCommentForm)">
                                <md-editor 
                                    [(ngModel)]='comment' 
                                    name="comment"
                                    placeholder="Suggest improvement or changes"
                                    [height]="'70px'" 
                                     min="15"
                                    [required]="true" 
                                    #commentName="ngModel">
                                </md-editor>
                                <small>type at least 15 characters</small>
                            <div *ngIf="!commentName.valid && commentName.touched" class="alert alert-danger">
                                    Comment is required!
                            </div>
                            <p style="margin-top: 10px;" ></p>
                            <button type="submit" [disabled]="!addAnswerCommentForm.form.valid" 
                            class="btn btn-outline-primary btn-sm">
                                Add comment
                            </button>
                        
                        </form>
                </div>
            </div>

           
          </div>
                </div>
         </div>
         <h4>{{ this.questionAnswer?.count}} Answers</h4>
         <div class="anwer--list__heading"></div>
         <div class="anwer--list"></div>
         
         <!-- /////////////////////////////////////////////////// -->

         <div class="row no-gutters" *ngFor="let questionAnswer of this.questionAnswer?.rows;">
                <div class="col-12 col-6 col-md-2">
                    <div class="ratting--wrapper">
                            <p class="ratingNumber">{{ questionAnswer?.upvote }}</p>
                            <p (click)="question.upvote = question.upvote + 1;" class="ratingBtn">
                                <i title="Upvote comment" (click)="updateQuestionUpvote(question)" style="cursor: pointer; text-align:center; font-size: 2rem;" class="fa fa-thumbs-up"></i> 
                            </p>
                            
                            <p (click)="question.downvote = question.downvote + 1" class="ratingBtn">
                                 <i title="Down-vote question" (click)="updateQuestionDownvote(question)" style="cursor: pointer; text-align:center; font-size: 2rem;" class="fa fa-thumbs-down"></i>
                            </p>
                            <p class="ratingNumber">{{ questionAnswer?.downvote }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-10">
                    <div class="question--body">  
                        <markdown ngPreserveWhitespaces [data]="questionAnswer?.answer"></markdown>
                    </div>


          <div class="dotted-line"></div>
          <div class="row detail-user-info">
            <div class="col-12 col-6 col-md-4">
                <a style="margin-top: 10px" href="/posts/54704661/edit" 
                class="suggest-edit-post" title="">improve this question</a>
            </div>
            
            <div style="margin-top: 20px" class="col-12 col-6 col-md-4">
                <!-- <a href="/posts/54704661/revisions" title="show all edits to this post">edited 
                  <span title="2019-02-15 09:43:21Z" class="relativetime">1 hour ago</span></a> -->
            </div>
            <div class="col-12 col-6 col-md-4">
                <div class="post-signature owner grid--cell">
                    <div class="user-info ">
                        <div class="user-action-time">
                            <small style="color: #001">
                                asked
                                <span [title]="question?.created_at" class="relativetime">
                                  {{ question?.created_at | amTimeAgo:true  }}</span>
                            </small> 
                        </div>
                        <div class="media">
                            <img src="{{ question?.profile.avater }}" class="mr-3" alt="...">
                            <div class="media-body">
                              <h5 class="mt-0">{{ question?.user.name }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer-comment-section">
                <div class="answer-comment" *ngFor="let questionComment of questionComments; let i = index; trackBy: trackByFn">
                    <div class="answer-comment__list">
                        <span class="upvote-a upvote"> 
                            <i title="upvote comment" (click)="updateUpvote(questionComment, i)" style="cursor: pointer; font-size: 1rem;" class="fa fa-thumbs-up"></i> 
                            {{ questionComment.upvote }}</span>
                        <span class="upvote-a downvote">
                            <i title="Down-vote comment" (click)="updateDownvote(questionComment, i)" style="cursor: pointer; font-size: 1rem;" class="fa fa-thumbs-down"></i>
                             {{ questionComment.downvote }} </span>
                        <span class="upvote-a comment_question" [innerHTML]="questionComment.comment_question"></span>
                        <span>
                            -- {{ questionComment?.user.name }} {{ questionComment?.created_at | amTimeAgo:true }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="add_comment">
                <div class="add_comment--link">
                    <p (click)="addAnswerComment()">Add Comment</p>
                </div>
                
                <div *ngIf="addComment" class="add--form-comment">
                        <form #addAnswerCommentForm="ngForm" (ngSubmit)="onsubmitanswercomment(addAnswerCommentForm)">
                                <md-editor 
                                    [(ngModel)]='comment' 
                                    name="comment"
                                    placeholder="Suggest improvement or changes"
                                    [style]="{height: '70px'}"
                                     min="15"
                                    [required]="true" 
                                    #commentName="ngModel">
                                </md-editor>
                                <small>type at least 15 characters</small>
                            <div *ngIf="!commentName.valid && commentName.touched" class="alert alert-danger">
                                    Comment is required!
                            </div>
                            <p style="margin-top: 10px;" ></p>
                            <button type="submit" [disabled]="!addAnswerCommentForm.form.valid" 
                            class="btn btn-outline-primary btn-sm">
                                Add comment
                            </button>
                        
                        </form>
                </div>
            </div>

           
          </div>
                </div>
         </div>

         <h2>Your Answer</h2>

         <div class="add--form-answer">
                <form #addAnsweranswerForm="ngForm" (ngSubmit)="onsubmitquestionanswer(addAnsweranswerForm)">
                        <md-editor 
                            [(ngModel)]='answer' 
                            name="answer"
                            placeholder="Suggest improvement or changes"
                            [style]="{height: '160px'}"
                            [required]="true" 
                            #answerName="ngModel">
                        </md-editor>
                    <div *ngIf="!answerName.valid && answerName.touched" class="alert alert-danger">
                            answer is required!
                    </div>
                    <p style="margin-top: 10px;" ></p>
                    <button type="submit" [disabled]="!addAnsweranswerForm.form.valid" 
                    class="btn btn-outline-primary btn-sm">
                        Add answer
                    </button>
                
                </form>
        </div>
         <!-- This is the end of the question body section -->
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="module question-stats">
                <table id="qinfo">
                    <tbody><tr>
                        <td>
                            <p class="label-key">asked</p>
                        </td>
                        <td style="padding-left: 10px">
                            <p class="label-key" title="2019-02-15 07:44:40Z">
                                <b>
                                    {{ question?.created_at | amTimeAgo:true  }}
                                </b>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="label-key">viewed</p>
                        </td>

                        <td style="padding-left: 10px">
                            <p class="label-key">
                                <b> {{ question?.question_view }} times</b>
                            </p>
                        </td>
                    </tr>
                </tbody></table>
            </div>
            <h4 id="h-related">Related</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
              </div>

              
        </div>
        
    </div>
  </div>
  