<form [formGroup]="addArticleForm" (ngSubmit)="onAddArticle()">
<div  class="form-group">
    <input type="text" formControlName="title" 
    class="form-control" id="name" 
    aria-describedby="emailHelp" placeholder="Add title">
</div>

<div class="form-group">
    <label for="about-me">Add article</label>
</div>


<div class="form-group">
  <label for="technologies">Technologies</label>
  <tag-input name="Technologies" formControlName="techTag" 
              theme='bootstrap'></tag-input>
</div>

<p><button
  [nbSpinner]="loading" nbSpinnerStatus="success" 
    [disabled]="disableButton"
    nbSpinnerSize="large" nbSpinnerMessage=""
  nbButton size="xsmall">Add-article</button></p>
</form>
