.ng2-tag-input__text-input[_ngcontent-c9] {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 .5rem;
    height: 38px;
    font-size: 1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: transparent !important;
}

.ql-editor {
    box-sizing: border-box;
    cursor: text;
    line-height: 2.5 !important;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 17px !important;
    color: #011 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(3.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: transparent;
    font-size: 39px !important;
}

.ng2-tag-input__text-input[_ngcontent-c10] {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 .5rem;
    height: 38px;
    font-size: 1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: transparent !important;
}