<div class="Aligner">
  <div class="Aligner-item">
    <div class="signin">
        <nb-card>
            <nb-card-body>
                  <nb-alert @fade *ngIf="connectionError" status="danger" closable (close)="onClose()">
                       {{ this.appError}}
                  </nb-alert>

                  <nb-alert @fade *ngIf="emailExistViewError" status="danger" closable (close)="onClose()">
                          {{ this.emailExistError }}
                  </nb-alert>

                  <nb-alert @fade *ngIf="emailOrPasswordNotFound" status="danger" closable (close)="onClose()">
                        Invalid email or password
                  </nb-alert>


                <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignin()">

                  <p><input type="email" formControlName="email"
                      nbInput fullWidth fieldSize="medium" placeholder="Email"></p>
                      <p class="validation-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
                          Email is required.
                      </p>
                  <p><input type="password" formControlName="password"
                      nbInput fullWidth fieldSize="medium" placeholder="Password"></p>
                      <p class="validation-message" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">
                          Password is required.
                      </p>
                  
                  <p><button [disabled]="!signinForm.valid"
                      [nbSpinner]="loading" nbSpinnerStatus="success" 
                       nbSpinnerSize="large" nbSpinnerMessage=""
                       [disabled]="loading"
                      nbButton size="xsmall">Sign-In</button></p>
                </form>
            </nb-card-body>
            <p class="signup-link"><a routerLink="/signin">Dev Sign-up</a></p>

            <!-- <p>
                    one : {{user}}
                  </p>
                  <input type="text" [(ngModel)]="editUser">
                  <button (click)="editTheUser()">Change</button> -->
        </nb-card>
    </div>
  </div>
</div>


