.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.signin {
    width: 27rem;
    margin-top: 20%;
}

.signup-link {
    font-size: 12px;
    margin-left: 20px;
}

.content {
    background-color: #fdd;
}