.nb-theme-default nb-layout .layout nb-layout-header.fixed ~ .layout-container {
    padding-top: 0px;
    min-height: 100vh;
}

body {
    font-size: 16px;
}

.sub-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
}


.nb-theme-default ul {
    padding-left: 0rem;
}

.menu-item {
    display: inline-block;
}

.sub-menu ul li {
    display: inline;
    list-style-type: none;
    font-size: .8rem;
    margin-left: 1.1rem;
}

.sub-menu--link {
    font-size:.8rem; 
    padding-right: 1.5rem;
}

:host nb-layout-column {
    height: 50vw;
  }
  :host nb-layout-column:first-child {
    background: #f4f4f7;
  }
  :host nb-layout-header /deep/ nav {
    justify-content: flex-end;
  }

.nb-theme-default nb-context-menu .arrow::after {
    top: 5px !important;
}