<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">DevKube</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="!loggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>

              <nb-actions size="small">
                  <nb-action icon="icon ion-md-notifications"
                              badgeStatus="danger">
                  </nb-action>
                  <nb-action icon="icon ion-md-mail"
                              badgeStatus="warning">
                  </nb-action>
                  <nb-action>
                    <a routerLink="signin">Sign-in</a>
                  </nb-action>
                  <nb-action>
                    <a routerLink="signup" nbButton shape="round" size="small" status="success">
                      Sign-up</a>
                  </nb-action>
                </nb-actions>
        </div>
        <div *ngIf="loggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
  
              <nb-actions size="small">
                  <nb-action icon="icon ion-md-notifications"
                             badgeText="9"
                             badgeStatus="danger">
                  </nb-action>
                  <nb-action icon="icon ion-md-mail"
                             badgeText="12"
                             badgePosition="top right"
                             badgeStatus="warning">
                  </nb-action>
                  <nb-action [nbContextMenu]="this.items" icon="icon ion-md-person">
                  </nb-action>
                </nb-actions>
        </div>
    </div>
  </nav>
    <div>
      <div *ngIf="loggedIn" class="container">
        <div class="sub-menu">
            <div class="sub-menu__list">
                <ul class="list-menu">
                    <li>
                        <a routerLink="home">Home</a>
                    </li>
                    <li>
                      <a routerLink="question">Question</a>
                    </li>
                    <li>
                        <a routerLink="article">Article</a>
                    </li>
                    <li>
                        <a routerLink="job">Jobs</a>
                    </li>
                    <li>
                        <a routerLink="document">Document</a>
                    </li>
                    <li>
                        <a routerLink="/chat">Chat</a>
                    </li>
                    <li>
                        <a routerLink="/chat/group">Group</a>
                    </li>
                    <li>
                        <a routerLink="/chat/private">Private</a>
                    </li>
                  </ul>
            </div>
        </div>
      </div>
  
        
    </div>