<div class="container-fluid">
  <div class="row no-gutters">
      <div class="col-6 col-md-4">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/article/add">Add article</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/article/myarticle">My articles</a>
              </li>

            </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-8">

      </div>
  </div>
</div>
