  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-2 link__division">
            <ul class="side_bar-link nav-links">
              <li>Home</li>
              <li>My question</li>
              <li>Latest question</li>
            </ul>
          </div>
        <div class="col-12 col-md-7">
            <h2>Ask question</h2>
          <form [formGroup]="addQuestionForm" (ngSubmit)="onAddQuestion()">

            <div class="form-group">
              <label for="exampleInputEmail1"><b>Title</b></label>
              <input 
              formControlName="titleBody"
              type="text" class="form-control" 
              formControlName="titleBody"
              placeholder="What your question">
            </div>

            <span style="font-size: 15px">Body</span>
            <md-editor 
              formControlName="question" 
              [(ngModel)]="body"
              [mode]="editor"  
              [height]="'250px'">
            </md-editor>
    
            <div class="dotted-line"></div>

            <div class="form-group">
                <label for="technologies">Tags</label>
                <tag-input formControlName="tags" 
                name="Technologies" placeholder="eg(javascript, html)"
                theme='bootstrap'></tag-input>
            </div>
    
            
            <p><button [disabled]="!addQuestionForm.valid"
              [nbSpinner]="loading" nbSpinnerStatus="success" 
                  nbSpinnerSize="large" nbSpinnerMessage=""
              nbButton size="xsmall">Post your question</button></p>
          </form>
    
        </div>
        <div class="col-12 col-md-3">
          <div>
              <div class="card">
                  <div class="card-header card-body-question--heading">
                      How to Ask
                  </div>
                  <div class="card-body card-body-question ">
                    <b>Is your question about programming?</b>
                    <p>We prefer questions that can be answered, not just discussed.</p>
                    <p>Provide details. Share your research.</p>
                    <p>If your question is about this website, ask it on meta instead.</p>
                    <p class="pull-right"><a href="#">visit the help center »</a></p>
                  </div>
                </div>
        </div>
      </div>
      </div>
  </div>

