.card-body-question {
    background-color: #5a4448;
    color: #fafafa;
}

.card-header.card-body-question--heading {
    font-size: 24px;
    font-weight: 500;
    color: #110;
}

ul.side_bar-link {
    list-style-type: none;
}

ul.side_bar-link li {
    padding-bottom: 10px;
}

.link__division {
    border-right: 1px solid #ddd;
}

.nav-links {
    padding: 0;
    margin: 0 0 12px;
    list-style: none;
    color: #110;
}

.dotted-line {
    padding: 10px 0;
    border-top: 1px dotted #c8ccd0;
    border-bottom: 1px dotted #c8ccd0;
    clear: both;
    width: 100%;
}

[dir=ltr] .nb-theme-default ol, [dir=ltr] .nb-theme-default ul {
    padding: 0px important;
}

