<ng-snotify></ng-snotify>
<app-header></app-header>
<nb-layout>
    <!-- <nb-sidebar>Sidebar Content</nb-sidebar> -->
      <nb-layout-column>
            <div [@routeAnimation]="getAnimationData(routerOutlet)">
                <router-outlet #routerOutlet="outlet"></router-outlet>
            </div>
      </nb-layout-column>
</nb-layout>
