<div class="Aligner">
    <div class="Aligner-item">
      <div class="signin">
          <nb-card>
              <nb-card-body>
                    <nb-alert @fade *ngIf="connectionError" status="danger" closable (close)="onClose()">
                         {{ this.appError }}
                    </nb-alert>

                    <nb-alert @fade *ngIf="emailExistViewError" status="danger" closable (close)="onClose()">
                            {{ this.emailExistError }}
                    </nb-alert>
 
                    <nb-alert @fade *ngIf="onSuccessfulSignup" status="success" closable (close)="onClose()">
                            <small>An email as been send to you, Please activate to continue.</small>
                    </nb-alert>

                  <form [formGroup]="userForm" (ngSubmit)="onSubmitSignUp()">
                    <p><input type="text" formControlName="name"
                        nbInput fullWidth fieldSize="medium" placeholder="Username"></p>
                        <p class="validation-message" *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
                            Username is required.
                        </p>
                    <p><input type="email" formControlName="email"
                        nbInput fullWidth fieldSize="medium" placeholder="Email"></p>
                        <p class="validation-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
                            Email is required.
                        </p>
                    <p><input type="password" formControlName="password"
                        nbInput fullWidth fieldSize="medium" placeholder="Password"></p>
                        <p class="validation-message" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">
                            Password is required.
                        </p>
                    
                    <p><button [disabled]="!userForm.valid"
                        [nbSpinner]="loading" nbSpinnerStatus="success" 
                         nbSpinnerSize="large" nbSpinnerMessage=""
                         [disabled]="loading"
                        nbButton size="xsmall">Sign-Up</button></p>
                  </form>
              </nb-card-body>
              <p class="signup-link"><a routerLink="/signin">Dev sign-in</a></p>
          </nb-card>
      </div>
    </div>
</div>
