@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ng-snotify/styles/material.css";

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

/* UIkit */
@import "~uikit/src/scss/variables-theme";
@import "~uikit/src/scss/mixins-theme";
@import "~uikit/src/scss/uikit-theme";


/* You can add global styles to this file, and also import other style files */

body div span h1 h2 h3 h4 h5 h6 p small {
  font-family: 'Fira Sans', sans-serif;
  color: #4d4f52 !important;
}

code.hljs {
  background-color: #eff0f1 !important;
  color: #000 !important;
}

.md-editor-container[_ngcontent-c7] .preview-panel[_ngcontent-c7] {
  border-left: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
  color: #000;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  border-top: 3px solid #5bcd5e;
}

.validation-message {
  font-size: 11px;
  color: coral;
}

.nb-theme-default [nbInput]{
  border: 1px solid #ddd !important;
}

.nb-theme-default [nbButton].btn-outline.btn-success {
  border: 1px solid #40dc7e;
  color: #2a2a2a;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 0.8rem;
  border-radius: 0px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #52dd70;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ng2-tag-input__text-input[_ngcontent-c14] {
  display: inline;
  vertical-align: middle;
  border: 1px;
  padding: 0px !important;
  height: 38px;
  font-size: 0.8rem !important;
  background-color: transparent !important;
}

.bootstrap.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c11] {
  border-bottom: 1px solid #5fde5d !important;
}

.nb-theme-default nb-card.select.success {
  border: 1px solid #40dc7e;
}

.bootstrap.ng2-tag-input[_ngcontent-c11] {
  border-bottom: 1px solid #efefef !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 5px !important;
}

.nb-theme-default nb-card.select nb-option {
  padding: 0.75rem 1.5rem;
  font-size: 0.8rem !important;
}

.nb-theme-default a:hover, .nb-theme-default a:focus {
}


.tag__text[_ngcontent-c14] {
  font-size: 0.8rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.ql-toolbar.ql-snow {
  border: 1px solid #5fde5d;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  padding: 8px;
}

.ql-container.ql-snow {
  border: 1px solid #5fde5d;
}

.nb-theme-default [nbButton].btn-xsmall {
  padding: 0.5rem 1.25rem;
  font-size: 0.7rem;
  line-height: 1.25;
  border-radius: 0.375rem;
}

.layout {
  background-color: #fff !important;
}

.form-control:focus {
  box-shadow: none;
}

.md-editor-container[_ngcontent-c10] {
  margin-bottom: 15px;
  border: 1px solid rgb(95, 222, 93) !important;
}

.nb-theme-default a {
  color: #1a77d4;
}


code[class*="language-"], pre[class*="language-"] {
  background-color: #eff0f1;
}

p {
  color: #313030 !important;
}

.dotted-line[_ngcontent-c6] {
  padding: 10px 0;
  border-top: 1px dotted #c8ccd0;
  border-bottom: 1px dotted #c8ccd0;
  clear: both;
  width: 100%;
}

.md-editor-container[_ngcontent-c7] .tool-bar[_ngcontent-c7] {
  background-color: rgb(255, 255, 255) !important;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.ace-tm .ace_gutter {
  background: #f0f0f0 !important;
  color: #333;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #fafafa !important;
}

code[class*="language-"], pre[class*="language-"] {
  color: #636359 !important;
  background: none;
  text-shadow: 0 1px rgba(47, 34, 34, 0.92) !important;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}