.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #52dd70;
    border-color: #52dd70;
}

.profile--heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.nb-theme-default [nbButton].btn-outline.btn-success {
    border: 1px solid #ebeff6 !important;
    color: #2a2a2a;
    background-color: transparent;
}

.bootstrap.ng2-tag-input.ng2-tag-input--focused {
    border-bottom: 2px solid #5fde5d !important;
}

.profile-picture  img{
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.update-pic {
    text-align: center;
}

.nb-theme-default .btn-outline.btn-success {
    border: 1px solid #ddd;
    color: #2a2a2a;
    background-color: transparent;
}

.setting--section {
    height: 40%;
}

.profile--link {
    font-size: 0.8rem;
    cursor: pointer;
}

  